<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
  <header>
    <div class="logo"></div>
    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">Course</a>
      <a href="#">International Certification</a>
      <a href="#">Course Registration</a>
      <a href="#">Cadd Cae Job's</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <main>    
    <div id="main-background-container">
      <img src="../../public/images/background/main-background-img.png" alt="">
      <button class="more-info-btn">More Info</button>
      <marquee>* Cadd Cae Computers is an Authorized Tally &
        SAP Training Centre…! Special Offers Going on Now…!
        Accounts and Commercial Training Programs … Advanced Computer
        Programmings & Web Development Courses … Amazon AWS Training 
        and Certification … Ethical Hacking Certification Training …
        Digital Marketing Courses … Computer Hardware & Networking … 
        Multimedia Animation & Web Designing Courses … Short Term Diploma Courses … Complete Engineering Designing Solutions 
        – Civil / Architect / Mechanical / Automobile … Spoken English 
        … Computer on Office Automation (COA)… Type Writing … Shorthand 
        … Tailoring & Fashion Designing Courses
      </marquee>  
    </div>
  </main>
</body>
</html>